Local forecast links:

<a target="_blank" href="https://www.meteoblue.com/en/weather/forecast/multimodel/plateau-de-bure_frankreich_3029537?fcstlength=168">NOEMA</a>
·
<a target="_blank" href="https://www.meteoblue.com/en/weather/forecast/multimodel/37.066N-3.393E2847_Europe%2FMadrid?fcstlength=168">PICO</a>
·
<a target="_blank" href="https://www.meteoblue.com/en/weather/forecast/multimodel/-23.024N-67.754E5034_America%2FSantiago?fcstlength=168">ALMA/APEX</a>
<br>
