Local forecast links:

<a target="_blank" href="https://www.meteoblue.com/en/weather/forecast/multimodel/plateau-de-bure_frankreich_3029537?fcstlength=168">NOEMA</a>
·
<a target="_blank" href="https://www.meteoblue.com/en/weather/forecast/multimodel/37.066N-3.393E2847_Europe%2FMadrid?fcstlength=168">PICO</a>
·
<a target="_blank" href="https://www.meteoblue.com/en/weather/forecast/multimodel/-23.024N-67.754E5034_America%2FSantiago?fcstlength=168">ALMA/APEX</a>
·
<a target="_blank" href="http://mkwc.ifa.hawaii.edu/forecast/mko/">Maunakea (JCMT/SMA)</a>
·
<a target="_blank" href="https://forecast.weather.gov/MapClick.php?w0=t&w1=td&w2=wc&w3=sfcwind&w4=sky&w5=pop&w6=rh&w7=rain&w8=thunder&w9=snow&w10=fzg&w11=sleet&w12=fog&AheadHour=0&Submit=Submit&&FcstType=graphical&textField1=19.8236&textField2=-155.4772&site=all&menu=1&unit=1">Maunakea NWS</a>

<br>



